@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mzlf2f');
  src:  url('../fonts/icomoon.eot?mzlf2f#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mzlf2f') format('truetype'),
    url('../fonts/icomoon.woff?mzlf2f') format('woff'),
    url('../fonts/icomoon.svg?mzlf2f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-facebook .path1:before {
  content: "\e901";
  color: rgb(193, 194, 195);
}
.icon-facebook .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(49, 53, 57);
}
.icon-houzz .path1:before {
  content: "\e903";
  color: rgb(193, 194, 195);
}
.icon-houzz .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(49, 53, 57);
}
.icon-instagram .path1:before {
  content: "\e905";
  color: rgb(193, 194, 195);
}
.icon-instagram .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(49, 53, 57);
}
.icon-instagram .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(49, 53, 57);
}
.icon-instagram .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(49, 53, 57);
}
.icon-search:before {
  content: "\e909";
  color: #565656;
}
.icon-twitter .path1:before {
  content: "\e90a";
  color: rgb(49, 53, 57);
}
.icon-twitter .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(193, 194, 195);
}
