@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  font: normal 1.4rem/1 "Work Sans", sans-serif;
  color: #565656; }

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%; }

.container-mini {
  max-width: 57rem; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  width: 100%;
  background-color: #fff;
  max-height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header .logo {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
  .header nav {
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
  .header ul.main-menu {
    display: inline;
    list-style-type: none;
    overflow: hidden;
    margin-left: -40px; }
  .header nav ul.main-menu {
    display: inline;
    list-style-type: none;
    overflow: hidden;
    margin-left: -40px; }
    .header nav ul.main-menu ul.drop-down {
      position: absolute;
      top: 5.8rem;
      padding-left: 0;
      z-index: 2;
      -webkit-transition: all ease-in-out 0.4s;
      -o-transition: all ease-in-out 0.4s;
      transition: all ease-in-out 0.4s;
      background-color: #fff;
      height: 0;
      overflow: hidden;
      opacity: 0; }
      .header nav ul.main-menu ul.drop-down li {
        display: block; }
        .header nav ul.main-menu ul.drop-down li a {
          display: block;
          padding: 1.5rem 2.5rem; }
        .header nav ul.main-menu ul.drop-down li:nth-child(even) a {
          background-color: #fafbfc; }
        .header nav ul.main-menu ul.drop-down li:nth-child(1) {
          border-top: 1px solid #ffd942; }
    .header nav ul.main-menu li.sub-menu {
      position: relative; }
      .header nav ul.main-menu li.sub-menu a span {
        position: absolute;
        top: 0.45rem;
        right: 1.5rem;
        height: 0;
        width: 0;
        border: .4rem solid;
        border-color: #ffd942 transparent transparent transparent;
        cursor: pointer;
        -webkit-transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s; }
      .header nav ul.main-menu li.sub-menu ul.drop-down {
        opacity: 0;
        height: 0;
        overflow: hidden; }
      .header nav ul.main-menu li.sub-menu:hover ul.drop-down li a {
        color: #565656; }
        .header nav ul.main-menu li.sub-menu:hover ul.drop-down li a:hover {
          color: #ffd942;
          -webkit-transition: all ease-in-out 0.4s;
          -o-transition: all ease-in-out 0.4s;
          transition: all ease-in-out 0.4s; }
    .header nav ul.main-menu li {
      display: inline;
      text-transform: uppercase; }
      .header nav ul.main-menu li a {
        display: inline-block;
        color: #565656;
        padding: 4.5rem 3rem;
        -webkit-transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s; }
      .header nav ul.main-menu li:hover a {
        color: #ffd942;
        -webkit-transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s; }
  .header .search {
    position: relative;
    -webkit-animation-fill-mode: forwards; }
    .header .search input[type='search'] {
      height: 3rem;
      width: 6.5rem;
      outline: none;
      border: 1px solid;
      border-color: transparent transparent transparent #e8e8e8;
      margin-left: 3rem;
      padding: 0 1rem;
      -webkit-transition: all ease-in-out 0.4s;
      -o-transition: all ease-in-out 0.4s;
      transition: all ease-in-out 0.4s;
      background: url(../img/search.png) no-repeat center right;
      font-size: 3.6rem;
      color: #c2c2c2;
      font-weight: 300;
      -webkit-animation-fill-mode: forwards; }
      .header .search input[type='search']::-webkit-search-cancel-button {
        display: none; }
      .header .search input[type='search']::-webkit-input-placeholder {
        color: #c2c2c2;
        font-size: 3.6rem;
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        text-transform: capitalize;
        opacity: 0;
        -webkit-transition: opacity ease-in-out .4s;
        -o-transition: opacity ease-in-out .4s;
        transition: opacity ease-in-out .4s; }
      .header .search input[type='search']::-moz-placeholder {
        color: #c2c2c2;
        font-size: 3.6rem;
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        text-transform: capitalize;
        opacity: 0;
        -webkit-transition: opacity ease-in-out .4s;
        -o-transition: opacity ease-in-out .4s;
        transition: opacity ease-in-out .4s; }
      .header .search input[type='search']::-ms-input-placeholder {
        color: #c2c2c2;
        font-size: 3.6rem;
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        text-transform: capitalize;
        opacity: 0;
        -webkit-transition: opacity ease-in-out .4s;
        -o-transition: opacity ease-in-out .4s;
        transition: opacity ease-in-out .4s; }
    .header .search img {
      opacity: 0;
      -webkit-transition: opacity ease-in-out .4s;
      -o-transition: opacity ease-in-out .4s;
      transition: opacity ease-in-out .4s;
      position: absolute;
      top: 4rem;
      right: 5.5rem;
      cursor: pointer; }

.hamburger {
  float: right;
  position: relative;
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: none; }
  .hamburger span.first,
  .hamburger span.second,
  .hamburger span.third {
    position: absolute;
    right: 0;
    width: 30px;
    height: 3px;
    background-color: #ffd942;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s; }
  .hamburger span.first {
    top: 0; }
  .hamburger span.second {
    top: 10px; }
  .hamburger span.third {
    top: 20px; }

.rotate-first {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px !important; }

.viz {
  opacity: 0; }

.rotate-third {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 10px !important; }

.slider .slick-slider div:focus {
  outline: none;
  border: none; }

.slider .slick-slide img {
  width: 100%; }

.slider .slick-active .slider-text {
  transform: scale(1);
  transition: all ease-in-out 1.5s; }

.slider .slider-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all ease-in-out 4.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  transform: scale(0); }
  .slider .slider-text span {
    color: #fefefe;
    font-size: 1.6rem;
    font-weight: 500; }
  .slider .slider-text p {
    color: #fefefe;
    font-weight: 500;
    font-size: 7.2rem;
    margin: 1rem 0 0 0;
    text-transform: uppercase; }

.text {
  color: #333;
  margin-bottom: 7.5rem; }
  .text h1 {
    margin: 6rem auto 3rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 400;
    width: 57rem; }
  .text .plain-text {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 24px;
    margin: 0; }
  .text h2 {
    margin: 3.5rem 0 1.5rem;
    color: #0f0f0f;
    font-weight: 500;
    font-size: 2rem; }
  .text blockquote {
    margin: 4.5rem 0;
    padding: 4.5rem 0 4.5rem 7rem;
    border: 1px solid;
    border-color: #ddd transparent;
    font-size: 1.6rem;
    line-height: 30px;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    position: relative;
    display: block; }
    .text blockquote:before {
      content: '“';
      position: absolute;
      color: #ffd942;
      font-size: 8rem;
      left: -3px;
      top: 7rem;
      font-style: normal; }
    .text blockquote span {
      display: block;
      text-align: right;
      color: #797979;
      font-family: "Work Sans", sans-serif;
      font-size: 1.4rem;
      font-style: normal;
      position: relative; }
      .text blockquote span:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 4rem;
        background-color: #797979;
        top: 50%;
        right: 135px; }

#visible-placeholder::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity ease-in-out .4s;
  -o-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
  transition-delay: 2s; }

#visible-placeholder::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity ease-in-out .4s;
  -o-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
  transition-delay: 2s; }

#visible-placeholder::-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity ease-in-out .4s;
  -o-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
  transition-delay: 2s; }

#visible-placeholder::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity ease-in-out .4s;
  -o-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
  transition-delay: 2s; }

@keyframes div-on-focus {
  0% {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 95px;
    text-align: center; }
  50% {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    text-align: center; }
  100% {
    height: 470px;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(17, 20, 48, 0.11);
    -moz-box-shadow: 0px 3px 5px 0px rgba(17, 20, 48, 0.11);
    box-shadow: 0px 3px 5px 0px rgba(17, 20, 48, 0.11); } }

@keyframes div-off-focus {
  0% {
    height: 470px;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(17, 20, 48, 0.11);
    -moz-box-shadow: 0px 3px 5px 0px rgba(17, 20, 48, 0.11);
    box-shadow: 0px 3px 5px 0px rgba(17, 20, 48, 0.11); }
  50% {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    text-align: center; }
  100% {
    position: relative;
    height: 30px;
    width: 95px;
    text-align: center; } }

@keyframes input-on-focus {
  0% {
    margin-top: 35px; }
  50% {
    margin: 35px auto;
    width: 66.6666666%;
    border-color: transparent transparent #f2f2f6 transparent;
    background-position: center left;
    height: 30px; }
  100% {
    margin: 18rem auto 0;
    width: 66.6666666%;
    border-color: transparent transparent #f2f2f6 transparent;
    background-position: center left;
    height: 75px;
    padding: 0 45px; } }

@keyframes input-on-focus-small {
  0% {
    margin-top: 35px; }
  50% {
    margin: 35px auto;
    width: 66.6666666%;
    border-color: transparent transparent #f2f2f6 transparent;
    background-position: center left;
    height: 30px; }
  100% {
    margin: 18rem auto 0;
    width: 66.6666666%;
    border-color: transparent transparent #f2f2f6 transparent;
    background-position: center left;
    height: 75px;
    padding: 0 0 0 30px; } }

@keyframes input-off-focus-small {
  0% {
    margin: 18rem auto 0;
    width: 66.666666%;
    border-color: transparent transparent #f2f2f6 transparent;
    background-position: center left;
    height: 75px;
    padding: 0 0 0 30px; }
  50% {
    margin: 35px auto;
    width: 66.666666%;
    border-color: transparent transparent #f2f2f6 transparent;
    background-position: center left;
    height: 30px; }
  100% {
    border-color: transparent transparent transparent #f2f2f6;
    background-position: center right;
    height: 30px;
    margin-top: 0;
    width: 65px; } }

@keyframes input-off-focus {
  0% {
    margin: 18rem auto 0;
    width: 66.6666666%;
    border-color: transparent transparent #f2f2f6 transparent;
    background-position: center left;
    height: 75px;
    padding: 0 45px; }
  50% {
    margin: 35px auto;
    width: 66.6666666%;
    border-color: transparent transparent #f2f2f6 transparent;
    background-position: center left;
    height: 30px; }
  100% {
    border-color: transparent transparent transparent #f2f2f6;
    background-position: center right;
    height: 30px;
    margin-top: 0;
    width: 65px; } }

@keyframes visible {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes unvisible {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.modal-bg {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  z-index: -1;
  opacity: 0; }

@keyframes modal-bg-show {
  0% {
    z-index: -1;
    background-color: transparent; }
  100% {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1; } }

@keyframes modal-bg-hide {
  0% {
    z-index: 1;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8); }
  100% {
    z-index: -1;
    background-color: transparent;
    opacity: 0; } }

@keyframes modal-show {
  0% {
    z-index: 2;
    opacity: 0; }
  100% {
    z-index: 2;
    opacity: 1; } }

@keyframes modal-hide {
  0% {
    z-index: 2;
    opacity: 1; }
  100% {
    z-index: -1;
    opacity: 0; } }

#contact-modal {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  opacity: 0; }
  #contact-modal .inner-modal.flex {
    width: 770px;
    height: auto;
    margin: 12% auto 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px 5px rgba(17, 20, 48, 0.11);
    -moz-box-shadow: 0 0 3px 5px rgba(17, 20, 48, 0.11);
    box-shadow: 0 0 3px 5px rgba(17, 20, 48, 0.11);
    justify-content: flex-start;
    position: relative; }
    #contact-modal .inner-modal.flex .close {
      position: absolute;
      top: 2rem;
      right: 2rem;
      cursor: pointer;
      z-index: 2; }
  #contact-modal .inner-modal form.flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-start; }
  #contact-modal .inner-modal .flex.form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    position: relative; }
  #contact-modal .image {
    max-width: 100%;
    width: 100%; }
    #contact-modal .image img {
      width: 100%;
      height: auto;
      overflow: hidden;
      margin-bottom: -2px; }
  #contact-modal .form {
    width: 100%; }
    #contact-modal .form h3 {
      font-size: 2.4rem;
      color: #0f0f0f;
      margin: 0 0 4.5rem;
      margin-left: calc((100% - 26rem)/2);
      -webkit-transition: all ease-in-out 0.4s;
      -o-transition: all ease-in-out 0.4s;
      transition: all ease-in-out 0.4s; }
    #contact-modal .form h3.thanks {
      opacity: 0;
      height: 0;
      overflow: hidden;
      position: absolute; }
    #contact-modal .form span.send {
      width: 26rem;
      display: block;
      position: absolute;
      left: 0;
      top: 7.5rem;
      color: #9e9e9e;
      font-size: 1.2rem;
      font-family: "Work Sans", sans-serif;
      text-transform: uppercase;
      line-height: 1.5;
      z-index: 2;
      height: 0;
      overflow: hidden;
      opacity: 0;
      -webkit-transition: all ease-in-out 0.4s;
      -o-transition: all ease-in-out 0.4s;
      transition: all ease-in-out 0.4s;
      margin-left: calc((100% - 26rem)/2); }
    #contact-modal .form form {
      margin-left: calc((100% - 26rem)/2); }
      #contact-modal .form form input, #contact-modal .form form textarea {
        width: 26rem;
        outline: none;
        border: 1px solid;
        border-color: transparent transparent #aeaeae transparent;
        padding: 6px 0;
        margin-bottom: 2.5rem;
        color: #9e9e9e; }
        #contact-modal .form form input::-webkit-input-placeholder, #contact-modal .form form textarea::-webkit-input-placeholder {
          color: #9e9e9e;
          font-size: 1.2rem;
          font-family: "Work Sans", sans-serif;
          text-transform: uppercase; }
        #contact-modal .form form input::-moz-placeholder, #contact-modal .form form textarea::-moz-placeholder {
          color: #9e9e9e;
          font-size: 1.2rem;
          font-family: "Work Sans", sans-serif;
          text-transform: uppercase; }
        #contact-modal .form form input::-ms-input-placeholder, #contact-modal .form form textarea::-ms-input-placeholder {
          color: #9e9e9e;
          font-size: 1.2rem;
          font-family: "Work Sans", sans-serif;
          text-transform: uppercase; }
        #contact-modal .form form input::-webkit-autofill, #contact-modal .form form textarea::-webkit-autofill {
          background-color: #fff !important; }
      #contact-modal .form form textarea {
        resize: vertical;
        max-height: 17rem; }
      #contact-modal .form form input[type='submit'] {
        margin: 1.1rem 0 0;
        width: 14rem;
        height: 4rem;
        background-color: #ffd942;
        border: none;
        border-radius: 18px;
        text-transform: uppercase;
        color: #333;
        font-size: 1.6rem;
        cursor: pointer; }
      #contact-modal .form form div {
        position: relative; }
        #contact-modal .form form div p {
          position: absolute;
          right: 110%;
          top: -26px;
          color: #9e9e9e;
          font-size: 1.2rem;
          font-family: "Work Sans", sans-serif;
          width: 90%;
          background-color: #fff;
          padding: 10px;
          z-index: 2;
          border: 1px solid red;
          border-radius: 3px;
          opacity: 0;
          -webkit-transition: all ease-in-out 0.4s;
          -o-transition: all ease-in-out 0.4s;
          transition: all ease-in-out 0.4s;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          #contact-modal .form form div p i {
            color: red;
            height: 2rem;
            width: 2rem;
            font-size: 1.4rem;
            line-height: 1.5;
            text-align: center;
            margin-right: 1rem; }

.unvalid {
  opacity: 1 !important;
  -webkit-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s; }

.valid-input {
  border-color: transparent transparent green transparent;
  -webkit-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s; }

.table {
  width: 63rem;
  margin: 4.5rem -3rem 4.5rem;
  overflow-x: auto; }
  .table table {
    border: 1px solid #f0f0f0;
    border-spacing: 0px !important; }
    .table table thead, .table table tbody {
      border: 1px solid #f0f0f0;
      border-collapse: collapse; }
    .table table thead > tr > th, .table table tbody > tr > td {
      padding: 18px 28px 18px 20px; }
    .table table thead > tr > th {
      font-size: 1.2rem;
      color: #797979;
      text-align: left;
      border-bottom: 1px solid #f0f0f0; }
    .table table tbody > tr > td {
      font-size: 1.4rem;
      color: #333; }
    .table table tr:nth-child(even) {
      background-color: #fafbfc;
      border: none; }

.posts {
  width: 100%;
  border-top: 1px solid #f1f1f5;
  border-bottom: 1px solid #f1f1f5;
  padding: 7rem 0 6rem; }
  .posts h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 4.5rem;
    color: #0f0f0f;
    font-size: 2.4rem;
    font-weight: 500; }
  .posts .item {
    max-width: 37rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 0 3px 5px rgba(17, 20, 48, 0.11);
    -moz-box-shadow: 0 0 3px 5px rgba(17, 20, 48, 0.11);
    box-shadow: 0 0 3px 5px rgba(17, 20, 48, 0.11); }
    .posts .item .left {
      margin-bottom: -2px; }
    .posts .item .right {
      padding-left: 2rem;
      padding-right: 1rem; }
      .posts .item .right span {
        color: #a2a2a2;
        font-size: 1.2rem;
        text-transform: uppercase; }
      .posts .item .right p {
        font-size: 1.6rem;
        color: #0f0f0f;
        line-height: 20px;
        margin-bottom: 2.5rem; }
      .posts .item .right a {
        color: #0f0f0f;
        font-size: 1.2rem; }
        .posts .item .right a span {
          color: #0f0f0f;
          margin-left: 9px;
          font-size: 1rem;
          -webkit-transition: all ease-in-out 0.4s;
          -o-transition: all ease-in-out 0.4s;
          transition: all ease-in-out 0.4s; }
        .posts .item .right a:hover span {
          margin-left: 20px;
          -webkit-transition: all ease-in-out 0.4s;
          -o-transition: all ease-in-out 0.4s;
          transition: all ease-in-out 0.4s; }

footer {
  padding: 5.5rem 0 3rem; }
  footer nav ul, footer ul.socials {
    display: inline;
    list-style-type: none;
    padding-left: 0;
    margin: 0; }
    footer nav ul li, footer ul.socials li {
      display: inline-block; }
      footer nav ul li a, footer ul.socials li a {
        color: #565656;
        text-transform: uppercase;
        -webkit-transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s; }
        footer nav ul li a:hover, footer ul.socials li a:hover {
          -webkit-transition: all ease-in-out 0.4s;
          -o-transition: all ease-in-out 0.4s;
          transition: all ease-in-out 0.4s;
          color: #ffd942; }
  footer nav ul li {
    padding-right: 5.5rem; }
    footer nav ul li:last-child {
      padding-right: 0; }
  footer .socials li {
    margin-left: 10px; }
    footer .socials li a {
      font-size: 4.1rem; }
      footer .socials li a span {
        border-radius: 50%;
        -webkit-transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s; }
      footer .socials li a:hover span {
        -webkit-transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s;
        background-color: #ddd; }
  footer .rights {
    text-align: right;
    margin-top: 38px;
    color: #b5b5b5; }

#toTop {
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  cursor: pointer;
  display: none;
  color: #ffd942;
  font-size: 3em; }

@keyframes formSend {
  0% {
    opacity: 1;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
  100% {
    opacity: 0;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; } }

@keyframes textSend {
  0% {
    opacity: 0;
    height: 0;
    overflow: hidden; }
  3% {
    height: auto; }
  100% {
    opacity: 1;
    height: auto; } }

@keyframes fadein {
  0% {
    opacity: 0;
    height: 0;
    overflow: hidden; }
  3% {
    height: auto; }
  100% {
    opacity: 1;
    height: auto; } }

@keyframes fadeout {
  0% {
    opacity: 1;
    height: auto; }
  97% {
    height: auto; }
  100% {
    opacity: 0;
    height: 0;
    overflow: hidden; } }
