@media screen and (max-width: 1230px) {
  .container {
    width: calc(100% - 30px);
    padding: 0 15px; }
  .posts .item {
    width: 32%;
    min-width: 335px; }
  .slider {
    height: 37rem; }
    .slider img {
      height: 100%;
      width: auto !important; } }

@media screen and (max-width: 1100px) {
  .posts .container {
    max-width: 615px; }
  .posts .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 185px;
    min-width: 0; }
    .posts .item .right {
      padding: 2rem 1rem 2rem 2rem; } }

@media screen and (max-width: 930px) {
  .header nav ul.main-menu li a {
    padding: 4.5rem 2rem; }
  .header nav ul.main-menu li.sub-menu a span {
    right: 1rem; }
  .header nav ul.main-menu ul.drop-down {
    left: -16px; }
  footer nav ul li {
    padding-right: 2.5rem; }
  footer .socials li {
    margin-left: 3px; }
    footer .socials li a {
      font-size: 3.5rem; }
  footer .rights {
    margin-top: 15px; } }

@media screen and (max-width: 830px) {
  .header nav ul.main-menu li a {
    padding: 4.5rem 1rem; }
  .header nav ul.main-menu ul.drop-down li a {
    padding: 1.5rem 2rem; }
  .header nav ul.main-menu li.sub-menu a span {
    right: 0.5rem; }
  #contact-modal .inner-modal.flex {
    width: 100%; } }

@media screen and (max-width: 730px) {
  .header {
    height: 100px; }
    .header nav ul.main-menu {
      display: block;
      z-index: 2;
      background-color: #fff;
      position: absolute;
      top: 100px;
      right: 90px;
      margin-top: 0;
      padding-left: 0;
      overflow: hidden;
      height: 0; }
      .header nav ul.main-menu li:first-child {
        border-top: 1px solid #ffd942; }
      .header nav ul.main-menu li:nth-child(even) {
        background-color: #fafbfc; }
      .header nav ul.main-menu li {
        display: block; }
        .header nav ul.main-menu li a {
          padding: 1.5rem 3rem; }
      .header nav ul.main-menu li.sub-menu a span {
        left: 1rem;
        top: 40%;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
      .header nav ul.main-menu ul.drop-down {
        left: -121px;
        top: -1px;
        background-color: #fff; }
    .header .hamburger {
      display: block; }
  .table {
    width: 100%;
    margin-left: 0; }
  footer nav ul li {
    font-size: 1.2rem;
    padding-right: 1.5rem; } }

@media screen and (max-width: 630px) {
  .text h1 {
    width: calc(100% - 30px);
    padding: 0 15px; }
  #contact-modal .form form {
    margin-left: calc((100% - 20rem)/2); }
    #contact-modal .form form input, #contact-modal .form form textarea {
      margin-bottom: 1.5rem;
      width: 20rem; }
  #contact-modal .form h3 {
    margin: 0 0 1.5rem;
    margin-left: calc((100% - 20rem)/2); }
  #contact-modal .form span.send {
    margin-left: calc((100% - 20rem)/2); }
  #contact-modal .form form input[type='submit'] {
    margin: 0; }
  #contact-modal .form form div p {
    padding: 6px;
    top: -17px; }
  .items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .posts .item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    max-width: 370px;
    margin: 15px 0; }
  .posts .item .right {
    padding: 1rem; }
  footer .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  footer ul.socials {
    margin-top: 15px; }
  footer .rights {
    text-align: center;
    font-size: 1.1rem; } }

@media screen and (max-width: 530px) {
  #contact-modal .inner-modal.flex {
    width: 300px;
    height: 400px; }
  #contact-modal .image {
    display: none; }
  #contact-modal .form form input[type='submit'] {
    margin: 0 auto; }
  #contact-modal .form form div p {
    top: 22px;
    right: 2%; }
  .slider .slider-text p {
    font-size: 3.6rem; }
  .text .plain-text, h1 {
    text-align: justify; } }

@media screen and (max-width: 450px) {
  footer nav ul {
    display: block;
    width: 170px; }
    footer nav ul li {
      display: block;
      padding: 10px; } }

@media screen and (max-width: 430px) {
  .posts .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 185px;
    margin: 15px; } }

@media screen and (max-width: 400px) {
  .header nav ul.main-menu {
    right: 30px; }
  input[type='search'] {
    padding: 0 0 0 30px !important; }
    input[type='search']::-webkit-input-placeholder {
      font-size: 2rem; }
    input[type='search']::-moz-placeholder {
      font-size: 2rem; }
    input[type='search']::-ms-input-placeholder {
      font-size: 2rem; } }

@media screen and (max-width: 350px) {
  #contact-modal .inner-modal.flex {
    width: 100%; }
  .header nav ul.main-menu {
    right: 15px; } }
