$font-family-main: 'Work Sans', sans-serif
$main-font-color: #565656
$text-color: #333
$yellow-color: #ffd942
$slider-text-color: #fefefe
$input-border: #aeaeae
$modal-input-color: #9e9e9e
$border-color: #e8e8e8
$search-text-color: #c2c2c2
$search-border-color: #f2f2f6
$menu-even-li-color: #fafbfc
$white: #fff
$h-color: #0f0f0f
$table-border: #f0f0f0
$signature-color: #797979
$transition: all ease-in-out .4s
$transform_1: rotateX(180deg)

html
    // Now 10px = 1rem!
    font-size: 62.5%

body
    font: normal 1.4rem/1 $font-family-main
    color: $main-font-color

a, a:hover, a:focus, a:active, a:visited
    text-decoration: none


.container
    max-width: 1170px
    margin: 0 auto
    width: 100%

.container-mini
    max-width: 57rem

.flex
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    justify-content: space-between
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center

.header
    width: 100%
    background-color: $white
    max-height: 10rem
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center

    .logo
        -webkit-box-flex: 1
        -ms-flex-positive: 1
        flex-grow: 1
        -webkit-transition: $transition
        -o-transition: $transition
        transition: $transition


    nav
        -webkit-transition: $transition
        -o-transition: $transition
        transition: $transition

    ul.main-menu
        display: inline
        list-style-type: none
        overflow: hidden
        margin-left: -40px

    nav ul.main-menu
        display: inline
        list-style-type: none
        overflow: hidden
        margin-left: -40px

        ul.drop-down
            position: absolute
            top: 5.8rem
            padding-left: 0
            z-index: 2
            -webkit-transition: $transition
            -o-transition: $transition
            transition: $transition
            background-color: $white
            height: 0
            overflow: hidden
            opacity: 0

            li
                display: block

                a
                    display: block
                    padding: 1.5rem 2.5rem

                &:nth-child(even) a
                    background-color: $menu-even-li-color

                &:nth-child(1)
                    border-top: 1px solid $yellow-color

        li.sub-menu
            position: relative

            a span
                position: absolute
                top: 0.45rem
                right: 1.5rem
                height: 0
                width: 0
                border: .4rem solid
                border-color: $yellow-color transparent transparent transparent
                cursor: pointer
                -webkit-transition: $transition
                -o-transition: $transition
                transition: $transition

            ul.drop-down
                opacity: 0
                height: 0
                overflow: hidden

            &:hover ul.drop-down

                li a
                    color: $main-font-color

                    &:hover
                        color: $yellow-color
                        -webkit-transition: $transition
                        -o-transition: $transition
                        transition: $transition

        li
            display: inline
            text-transform: uppercase

            a
                display: inline-block
                color: $main-font-color
                padding: 4.5rem 3rem
                -webkit-transition: $transition
                -o-transition: $transition
                transition: $transition

            &:hover a
                color: $yellow-color
                -webkit-transition: $transition
                -o-transition: $transition
                transition: $transition
    .search
        position: relative
        -webkit-animation-fill-mode: forwards

        input[type='search']
            height: 3rem
            width: 6.5rem
            outline: none
            border: 1px solid
            border-color: transparent transparent transparent $border-color
            margin-left: 3rem
            padding: 0 1rem
            -webkit-transition: $transition
            -o-transition: $transition
            transition: $transition
            background: url(../img/search.png) no-repeat center right
            font-size: 3.6rem
            color: $search-text-color
            font-weight: 300
            -webkit-animation-fill-mode: forwards

            &::-webkit-search-cancel-button
                display: none

            &::-webkit-input-placeholder
                color: $search-text-color
                font-size: 3.6rem
                font-family: $font-family-main
                font-weight: 300
                text-transform: capitalize
                opacity: 0
                -webkit-transition: opacity ease-in-out .4s
                -o-transition: opacity ease-in-out .4s
                transition: opacity ease-in-out .4s

            &::-moz-placeholder
                color: $search-text-color
                font-size: 3.6rem
                font-family: $font-family-main
                font-weight: 300
                text-transform: capitalize
                opacity: 0
                -webkit-transition: opacity ease-in-out .4s
                -o-transition: opacity ease-in-out .4s
                transition: opacity ease-in-out .4s

            &::-ms-input-placeholder
                color: $search-text-color
                font-size: 3.6rem
                font-family: $font-family-main
                font-weight: 300
                text-transform: capitalize
                opacity: 0
                -webkit-transition: opacity ease-in-out .4s
                -o-transition: opacity ease-in-out .4s
                transition: opacity ease-in-out .4s

        img
            opacity: 0
            -webkit-transition: opacity ease-in-out .4s
            -o-transition: opacity ease-in-out .4s
            transition: opacity ease-in-out .4s
            position: absolute
            top: 4rem
            right: 5.5rem
            cursor: pointer

.hamburger
    float: right
    position: relative
    height: 30px
    width: 30px
    cursor: pointer
    display: none

    span.first,
    span.second,
    span.third
        position: absolute
        right: 0
        width: 30px
        height: 3px
        background-color: $yellow-color
        -webkit-transition: all ease-in-out .4s
        -o-transition: all ease-in-out .4s
        transition: all ease-in-out .4s

    span.first
        top: 0

    span.second
        top: 10px

    span.third
        top: 20px

.rotate-first
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    transform: rotate(45deg)
    top: 10px !important

.viz
    opacity: 0

.rotate-third
    -webkit-transform: rotate(-45deg)
    -ms-transform: rotate(-45deg)
    transform: rotate(-45deg)
    top: 10px !important


.slider
    .slick-slider div:focus
        outline: none
        border: none

    .slick-slide img
        width: 100%
        // max-height: 370px
        // height: 370px

    .slick-active .slider-text
        transform: scale(1)
        transition: all ease-in-out 1.5s

    .slider-text
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        text-align: center
        transition: all ease-in-out 4.5s
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        margin: 0 auto
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        -webkit-box-orient: vertical
        -webkit-box-direction: normal
        -ms-flex-direction: column
        flex-direction: column
        transform: scale(0)


        span
            color: $slider-text-color
            font-size: 1.6rem
            font-weight: 500
        p
            color: $slider-text-color
            font-weight: 500
            font-size: 7.2rem
            margin: 1rem 0 0 0
            text-transform: uppercase

.text
    color: $text-color
    margin-bottom: 7.5rem

    h1
        margin: 6rem auto 3rem
        font-size: 1.6rem
        text-transform: uppercase
        line-height: 24px
        font-weight: 400
        width: 57rem

    .plain-text
        font-weight: 300
        font-size: 1.4rem
        line-height: 24px
        margin: 0

    h2
        margin: 3.5rem 0 1.5rem
        color: $h-color
        font-weight: 500
        font-size: 2rem

    blockquote
        margin: 4.5rem 0
        padding: 4.5rem 0 4.5rem 7rem
        border: 1px solid
        border-color: #ddd transparent
        font-size: 1.6rem
        line-height: 30px
        font-family: 'Libre Baskerville', serif
        font-style: italic
        position: relative
        display: block

        &:before
            content: '“'
            position: absolute
            color: $yellow-color
            font-size: 8rem
            left: -3px
            top: 7rem
            font-style: normal

        span
            display: block
            text-align: right
            color: $signature-color
            font-family: $font-family-main
            font-size: 1.4rem
            font-style: normal
            position: relative

            &:before
                content: ""
                position: absolute
                height: 1px
                width: 4rem
                background-color: $signature-color
                top: 50%
                right: 135px

#visible-placeholder::-webkit-input-placeholder
    opacity: 1
    -webkit-transition: opacity ease-in-out .4s
    -o-transition: opacity ease-in-out .4s
    transition: opacity ease-in-out .4s
    transition-delay: 2s


#visible-placeholder::-moz-placeholder
    opacity: 1
    -webkit-transition: opacity ease-in-out .4s
    -o-transition: opacity ease-in-out .4s
    transition: opacity ease-in-out .4s
    transition-delay: 2s

#visible-placeholder::-ms-input-placeholder
    opacity: 1
    -webkit-transition: opacity ease-in-out .4s
    -o-transition: opacity ease-in-out .4s
    transition: opacity ease-in-out .4s
    transition-delay: 2s

#visible-placeholder::-moz-placeholder
    opacity: 1
    -webkit-transition: opacity ease-in-out .4s
    -o-transition: opacity ease-in-out .4s
    transition: opacity ease-in-out .4s
    transition-delay: 2s

@keyframes div-on-focus
    0%
        position: absolute
        top: 0
        right: 0
        height: 100px
        width: 95px
        text-align: center

    50%
        position: absolute
        top: 0
        right: 0
        width: 100%
        height: 100px
        text-align: center

    100%
        height: 470px
        width: 100%
        background-color: $white
        z-index: 2
        position: absolute
        top: 0
        right: 0
        text-align: center
        -webkit-box-shadow: 0px 3px 5px 0px rgba(17,20,48,0.11)
        -moz-box-shadow: 0px 3px 5px 0px rgba(17,20,48,0.11)
        box-shadow: 0px 3px 5px 0px rgba(17,20,48,0.11)

@keyframes div-off-focus
    0%
        height: 470px
        width: 100%
        background-color: $white
        z-index: 2
        position: absolute
        top: 0
        right: 0
        text-align: center
        -webkit-box-shadow: 0px 3px 5px 0px rgba(17,20,48,0.11)
        -moz-box-shadow: 0px 3px 5px 0px rgba(17,20,48,0.11)
        box-shadow: 0px 3px 5px 0px rgba(17,20,48,0.11)

    50%
        position: absolute
        top: 0
        right: 0
        width: 100%
        height: 100px
        text-align: center

    100%
        position: relative
        height: 30px
        width: 95px
        text-align: center

@keyframes input-on-focus
    0%
        margin-top: 35px

    50%
        margin: 35px auto
        width: 66.6666666%
        border-color: transparent transparent $search-border-color transparent
        background-position: center left
        height: 30px

    100%
        margin: 18rem auto 0
        width: 66.6666666%
        border-color: transparent transparent $search-border-color transparent
        background-position: center left
        height: 75px
        padding: 0 45px

@keyframes input-on-focus-small
    0%
        margin-top: 35px

    50%
        margin: 35px auto
        width: 66.6666666%
        border-color: transparent transparent $search-border-color transparent
        background-position: center left
        height: 30px

    100%
        margin: 18rem auto 0
        width: 66.6666666%
        border-color: transparent transparent $search-border-color transparent
        background-position: center left
        height: 75px
        padding: 0 0 0 30px

@keyframes input-off-focus-small
    0%
        margin: 18rem auto 0
        width: 66.666666%
        border-color: transparent transparent $search-border-color transparent
        background-position: center left
        height: 75px
        padding: 0 0 0 30px

    50%
        margin: 35px auto
        width: 66.666666%
        border-color: transparent transparent $search-border-color transparent
        background-position: center left
        height: 30px

    100%
        border-color: transparent transparent transparent $search-border-color
        background-position: center right
        height: 30px
        margin-top: 0
        width: 65px

@keyframes input-off-focus
    0%
        margin: 18rem auto 0
        width: 66.6666666%
        border-color: transparent transparent $search-border-color transparent
        background-position: center left
        height: 75px
        padding: 0 45px

    50%
        margin: 35px auto
        width: 66.6666666%
        border-color: transparent transparent $search-border-color transparent
        background-position: center left
        height: 30px

    100%
        border-color: transparent transparent transparent $search-border-color
        background-position: center right
        height: 30px
        margin-top: 0
        width: 65px


@keyframes visible
    0%
        opacity: 0

    100%
        opacity: 1

@keyframes unvisible
    0%
        opacity: 1

    100%
        opacity: 0

.modal-bg
    width: 100%
    background-color: transparent
    position: fixed
    top: 0
    left: 0
    height: 100%
    -webkit-transition: $transition
    -o-transition: $transition
    transition: $transition
    z-index: -1
    opacity: 0

@keyframes modal-bg-show
    0%
        z-index: -1
        background-color: transparent
    100%
        z-index: 1
        background-color: rgba(255, 255, 255, .8)
        opacity: 1

@keyframes modal-bg-hide
    0%
        z-index: 1
        opacity: 1
        background-color: rgba(255, 255, 255, .8)
    100%
        z-index: -1
        background-color: transparent
        opacity: 0

@keyframes modal-show
    0%
        z-index: 2
        opacity: 0

    100%
        z-index: 2
        opacity: 1

@keyframes modal-hide
    0%
        z-index: 2
        opacity: 1

    100%
        z-index: -1
        opacity: 0

#contact-modal
    width: 100%
    position: fixed
    top: 0
    left: 0
    height: 100%
    z-index: -1
    opacity: 0

    .inner-modal.flex
        // max-width: calc(66.6666666% - 20px)
        width: 770px
        height: auto
        margin: 12% auto 0
        background-color: $white
        -webkit-box-shadow: 0 0 3px 5px rgba(17,20,48,0.11)
        -moz-box-shadow: 0 0 3px 5px rgba(17,20,48,0.11)
        box-shadow: 0 0 3px 5px rgba(17,20,48,0.11)
        justify-content: flex-start
        position: relative

        .close
            position: absolute
            top: 2rem
            right: 2rem
            cursor: pointer
            z-index: 2;

    .inner-modal form.flex
        -webkit-box-orient: vertical
        -webkit-box-direction: normal
        -ms-flex-direction: column
        flex-direction: column
        align-items: flex-start

    .inner-modal .flex.form
        -webkit-box-orient: vertical
        -webkit-box-direction: normal
        -ms-flex-direction: column
        flex-direction: column
        align-items: flex-start
        position: relative

    .image
        max-width: 100%
        width: 100%

        img
            width: 100%
            height: auto
            overflow: hidden
            margin-bottom: -2px

    .form
        width: 100%

        h3
            font-size: 2.4rem
            color: $h-color
            margin: 0 0 4.5rem
            margin-left: calc((100% - 26rem)/2)
            -webkit-transition: $transition
            -o-transition: $transition
            transition: $transition

        h3.thanks
            opacity: 0
            height: 0
            overflow: hidden
            position: absolute

        span.send
            width: 26rem
            display: block
            position: absolute
            left: 0
            top: 7.5rem
            color: $modal-input-color
            font-size: 1.2rem
            font-family: $font-family-main
            text-transform: uppercase
            line-height: 1.5
            z-index: 2
            height: 0
            overflow: hidden
            opacity: 0
            -webkit-transition: $transition
            -o-transition: $transition
            transition: $transition
            margin-left: calc((100% - 26rem)/2)


        form
            margin-left: calc((100% - 26rem)/2)

            input, textarea
                width: 26rem
                outline: none
                border: 1px solid
                border-color: transparent transparent $input-border transparent
                padding: 6px 0
                margin-bottom: 2.5rem
                color: $modal-input-color

                &::-webkit-input-placeholder
                    color: $modal-input-color
                    font-size: 1.2rem
                    font-family: $font-family-main
                    text-transform: uppercase

                &::-moz-placeholder
                    color: $modal-input-color
                    font-size: 1.2rem
                    font-family: $font-family-main
                    text-transform: uppercase

                &::-ms-input-placeholder
                    color: $modal-input-color
                    font-size: 1.2rem
                    font-family: $font-family-main
                    text-transform: uppercase

                &::-webkit-autofill
                    background-color: $white !important

            textarea
                resize: vertical
                max-height: 17rem

            input[type='submit']
                margin: 1.1rem 0 0
                width: 14rem
                height: 4rem
                background-color: $yellow-color
                border: none
                border-radius: 18px
                text-transform: uppercase
                color: $text-color
                font-size: 1.6rem
                cursor: pointer

            div
                position: relative

                p
                    position: absolute
                    right: 110%
                    top: -26px
                    color: $modal-input-color
                    font-size: 1.2rem
                    font-family: $font-family-main
                    width: 90%;
                    background-color: $white
                    padding: 10px
                    z-index: 2
                    border: 1px solid red
                    border-radius: 3px
                    opacity: 0
                    -webkit-transition: $transition
                    -o-transition: $transition
                    transition: $transition
                    display: -webkit-box
                    display: -ms-flexbox
                    display: flex
                    -webkit-box-align: center
                    -ms-flex-align: center
                    align-items: center

                    i
                        color: red
                        height: 2rem
                        width: 2rem
                        font-size: 1.4rem
                        line-height: 1.5
                        text-align: center
                        margin-right: 1rem

.unvalid
    opacity: 1 !important
    -webkit-transition: $transition
    -o-transition: $transition
    transition: $transition

.valid-input
    border-color: transparent transparent green transparent
    -webkit-transition: $transition
    -o-transition: $transition
    transition: $transition

.table
    width: 63rem
    margin: 4.5rem -3rem 4.5rem
    overflow-x: auto

    table
        border: 1px solid $table-border
        border-spacing: 0px !important

        thead, tbody
            border: 1px solid $table-border
            border-collapse: collapse

        thead>tr>th, tbody>tr>td
            padding: 18px 28px 18px 20px

        thead>tr>th
            font-size: 1.2rem
            color: $signature-color
            text-align: left
            border-bottom: 1px solid $table-border

        tbody>tr>td
            font-size: 1.4rem
            color: $text-color

        tr:nth-child(even)
            background-color: #fafbfc
            border: none

.posts
    width: 100%
    border-top: 1px solid #f1f1f5
    border-bottom: 1px solid #f1f1f5
    padding: 7rem 0 6rem

    h2
        text-align: center
        text-transform: uppercase
        margin: 0 0 4.5rem
        color: $h-color
        font-size: 2.4rem
        font-weight: 500

    .item
        max-width: 37rem
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        -webkit-box-shadow: 0 0 3px 5px rgba(17,20,48,0.11)
        -moz-box-shadow: 0 0 3px 5px rgba(17,20,48,0.11)
        box-shadow: 0 0 3px 5px rgba(17,20,48,0.11)

        .left
            margin-bottom: -2px

        .right
            padding-left: 2rem
            padding-right: 1rem

            span
                color: #a2a2a2
                font-size: 1.2rem
                text-transform: uppercase

            p
                font-size: 1.6rem
                color: $h-color
                line-height: 20px
                margin-bottom: 2.5rem

            a
                color: $h-color
                font-size: 1.2rem

                span
                    color: $h-color
                    margin-left: 9px
                    font-size: 1rem
                    -webkit-transition: $transition
                    -o-transition: $transition
                    transition: $transition

                &:hover span
                    margin-left: 20px
                    -webkit-transition: $transition
                    -o-transition: $transition
                    transition: $transition


footer
    padding: 5.5rem 0 3rem

    nav ul, ul.socials
        display: inline
        list-style-type: none
        padding-left: 0
        margin: 0

        li
            display: inline-block

            a
                color: $main-font-color
                text-transform: uppercase
                -webkit-transition: $transition
                -o-transition: $transition
                transition: $transition

                &:hover
                    -webkit-transition: $transition
                    -o-transition: $transition
                    transition: $transition
                    color: $yellow-color

    nav ul li
        padding-right: 5.5rem

        &:last-child
            padding-right: 0

    .socials li
        margin-left: 10px

        a
            font-size: 4.1rem

            span
                border-radius: 50%
                -webkit-transition: $transition
                -o-transition: $transition
                transition: $transition

            &:hover span
                -webkit-transition: $transition
                -o-transition: $transition
                transition: $transition
                background-color: #ddd

    .rights
        text-align: right
        margin-top: 38px
        color: #b5b5b5

#toTop
    position: fixed
    bottom: 0.5em
    right: 0.5em
    cursor: pointer
    display: none
    color: $yellow-color
    font-size: 3em

@keyframes formSend
    0%
        opacity: 1
        -webkit-transition: $transition
        -o-transition: $transition
        transition: $transition

    100%
        opacity: 0
        -webkit-transition: $transition
        -o-transition: $transition
        transition: $transition

@keyframes textSend
    0%
        opacity: 0
        height: 0
        overflow: hidden

    3%
        height: auto

    100%
        opacity: 1
        height: auto


@keyframes fadein
    0%
        opacity: 0
        height: 0
        overflow: hidden

    3%
        height: auto

    100%
        opacity: 1
        height: auto

@keyframes fadeout
    0%
        opacity: 1
        height: auto

    97%
        height: auto

    100%
        opacity: 0
        height: 0
        overflow: hidden